{% load static %}


<header>
    <div class="container header">
        <div class="about-logo">
            <a href="/index">
                <img src="{% static 'img/logo/aope_logo_white.png' %}" alt="Aope logo">
            </a>
        </div>
        <div class="about-menu">
            <nav id="nav-menu" class="nav">
                <div class="menu-close" id="close-menu">
                    <i class="fa-sharp fa-solid fa-xmark"></i>
                </div>
                <ul class="nav-list">
                    <li><a href="/index" class="nav_link">Ana Səhifə</a></li>
                    <li><a href="/about" class="nav_link">Haqqımızda</a></li>
                    <li><a href="/leadership" class="nav_link">İdarə Heyəti</a></li>
                    <li><a href="/news" class="nav_link">Xəbərlər</a></li>
                    <li><a href="/partners" class="nav_link">Partnyorlarımız</a></li>
                    <li><a href="/membership" class="nav_link">Üzvlük</a></li>
                    <li><a href="/contact" class="nav_link">Əlaqə</a></li>
                    <li><a href="" class="d-none d-lg-block nav_link"><img src="{% static 'img/icon/en.png' %}" alt="En" height="25"></a></li>
                </ul>
            </nav>
        </div>
        <div class="d-block d-lg-none d-flex">
            <a href="" class="d-block d-lg-none me-5"><img src="{% static 'img/icon/en.png' %}" alt="En" height="25"></a>
            <div class="menus" id="toggle-menu">
                <i class="fa-solid fa-bars"></i>
            </div>
        </div>
    </div>
</header>