{% load static i18n %}


<header>
    <div class="container header">
        <div class="about-logo">
            <a href="/">
                <img src="{% static 'img/logo/aope_logo_white.png' %}" alt="Aope logo">
            </a>
        </div>
        <div class="about-menu">
            <nav id="nav-menu" class="nav">
                <div class="menu-close" id="close-menu">
                    <i class="fa-sharp fa-solid fa-xmark"></i>
                </div>
                <ul class="nav-list">
                    <li><a href="/" class="nav_link">{% trans 'Ana Səhifə' %} </a></li>
                    <li><a href="/about" class="nav_link">{% trans 'Haqqımızda' %}</a></li>
                    <li><a href="/leadership" class="nav_link">{% trans 'İdarə Heyəti' %}</a></li>
                    <li><a href="/news" class="nav_link">{% trans 'Xəbərlər' %}</a></li>
                    <li><a href="/partners" class="nav_link">{% trans 'Partnyorlarımız' %}</a></li>
                    <li><a href="/membership" class="nav_link">{% trans 'Üzvlük' %}</a></li>
                    <li><a href="/contact" class="nav_link">{% trans 'Əlaqə' %}</a></li>
                    <li><a href="" class="d-none d-lg-block nav_link"><img src="{% static 'img/icon/en.png' %}" alt="En" height="25"></a></li>
                </ul>
            </nav>
        </div>
        <div class="d-block d-lg-none d-flex">
            <a href="" class="d-block d-lg-none me-5"><img src="{% static 'img/icon/en.png' %}" alt="En" height="25"></a>
            <div class="menus" id="toggle-menu">
                <i class="fa-solid fa-bars"></i>
                
            </div>
            
        </div>
        <form action="{% url 'set_language' %}" method="post">
            {% csrf_token %}
            <input name="next" type="hidden" value="{{ request.get_full_path|slice:'3:' }}" />
            <ul class="nav navbar-nav navbar-right language menu">
                {% get_current_language as LANGUAGE_CODE %}
                {% get_available_languages as LANGUAGES %}
                {% get_language_info_list for LANGUAGES as languages %}
                {% for language in languages %}
                    
                        <button type="submit"
                                name="language"
                                value="{{ language.code }}"
                                class="{% if language.code == LANGUAGE_CODE %}alert-danger{% endif %}">
                            {{ language.code }}
                        </button>
                 
                {% endfor %}
            </ul>
        </form>
    </div>

</header>