
{% extends "base.html" %}


{% load static i18n %}

{% block title %}
{% trans "Əsas Səhifə | AOPE" %} 
{% endblock %}

{% block css %} 
<link rel="stylesheet" href="{% static 'css/none.css' %}">
{% endblock %}

{% block background %}
id="homepage"
{% endblock %}

{% block content %}


  <div class="container">
    <div class="logo-contact">
      <div class="logo">
        <img src="{% static 'img/logo/aope_logo_white.png' %}" alt="AOPE logo">
      </div>
      <div class="contact">
        <div class="location">
          <span><i class="fa-solid fa-location-dot"></i></span>
          <p> {% trans "Kral Hüseyn 64B" %}<br>{% trans "Bakı, Azərbaycan" %}</p>
        </div>
        <div class="telephone">
          <span><i class="fas fa-phone-volume"></i></span>
          <p>(+994 12) 561 08 83<br>(+994 51) 394 33 95<br></p>
        </div>
      </div>
    </div>

    <div class="main-menu">
      <div class="row">
        <div class="main-img col-12 col-lg-7">
          <div id="carousel" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-indicators">
              <button type="button" data-bs-target="#carousel" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
              <button type="button" data-bs-target="#carousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
              <button type="button" data-bs-target="#carousel" data-bs-slide-to="2" aria-label="Slide 3"></button>
            </div>
            <div class="carousel-inner">
              <div class="carousel-item active" style="background-image: url('{% static 'img/img-1.jpg' %}');"></div>
              
              <div class="carousel-item" style="background-image: url('{% static 'img/img-2.jpg' %}');"></div>
              <div class="carousel-item" style="background-image: url('{% static 'img/img-3.jpg' %}');"></div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carousel" data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carousel" data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </button>
          </div>
        </div>
        <div class="main-content col-12 col-lg-5">
          <ul>
            <li><a href="/about"><i class="fa-regular fa-circle-check"></i>&nbsp;&nbsp; {% trans "Haqqımızda" %}</a></li>
            <li><a href="/leadership"><i class="fa-regular fa-circle-check"></i>&nbsp;&nbsp; {% trans "İdarə Heyəti" %}</a></li>
            <li><a href="/news"><i class="fa-regular fa-circle-check"></i>&nbsp;&nbsp; {% trans "Xəbərlər" %}</a></li>
            <li><a href="/partners"><i class="fa-regular fa-circle-check"></i>&nbsp;&nbsp; {% trans "Partnyorlarımız" %}</a></li>
            <li><a href="/membership"><i class="fa-regular fa-circle-check"></i>&nbsp;&nbsp; {% trans "Üzvlük" %}</a></li>
            <li><a href="/contact"><i class="fa-regular fa-circle-check"></i>&nbsp;&nbsp; {% trans "Əlaqə" %}</a></li>
          </ul>
          <form action="{% url 'set_language' %}" method="post">
            {% csrf_token %}
            <input name="next" type="hidden" value="{{ request.get_full_path|slice:'3:' }}" />
            <div class="dropdown">
                <button class="dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                    <img src="/static/img/icon/{{ LANGUAGE_CODE }}.png" alt="{{ LANGUAGE_CODE }}" height="25">
                </button>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                    {% get_current_language as LANGUAGE_CODE %}
                    {% get_available_languages as LANGUAGES %}
                    {% get_language_info_list for LANGUAGES as languages %}
                    {% for language in languages %}
                        {% if language.code != LANGUAGE_CODE %}
                            <button type="submit" name="language" value="{{ language.code }}">
                                <div>
                                    <img src="/static/img/icon/{{ language.code }}.png" alt="{{ language.code }}" height="25">
                                </div>
                            </button>
                        {% endif %}
                    {% endfor %}
                </ul>
            </div>
        </form>
        </div>
      </div>
    </div>
  </div>


{% endblock %}